@media screen and (max-width: 480px) {
    #login-wrapper, #signup-wrapper{
        padding: 5px;
        width: 100%;
    }
    #login-wrapper input, #signup-wrapper input{
        width: 100%;
    }
    .video-wrapper {
        width:100%;
    }
    .video-wrapper video {
        height: 100%;
    }
}